/* We use cookies to provide and improve our services. By using our site, you consent to cookies. */
/* Ads in the docs, what the hell... */
#cookie-notice, .mo-wp, #marketing-target {
  display: none !important;
}

#main-col-body h2 a.aws-console-fixes {
  visibility: hidden;
}
#main-col-body h2:hover a.aws-console-fixes {
  visibility: visible;
}
